---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="AsgaOZkjwxPcF8PS6zvpR4LBZfgA361jg1RHDp2nMwE" />
		<meta name="description" content="nReceiver: NHKラジオをダウンロードしてファイルとして保存するPC用アプリ" />
		<meta name="keywords" content="NHK,ラジオ,語学,らじるらじる,ストリーミング,ダウンロード,ソフト,保存,録音,オープンソース" />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #F2F2F2;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
