---
import Layout from '../layouts/Layout.astro';
---

<Layout title="[nReceiver] NHKラジオ番組をフォローして自動保存するフリーでオープンなソフト">
	<main>

		<section>
			<img src="./nReceiver.png" width="64" height="64" alt="アイコン" aria-hidden="true" class="icon">
			<h1>nReceiver</h1>
			<p class="sub">エヌ・レシーバ</p>
		</section>

		<section>

			<p>
				NHKラジオ（らじるらじる）の番組をファイルに保存するPC用アプリです。<br>
				好きな番組をフォローすると、番組を自動的にチェック、ダウンロード。<br>
				本アプリは非公式で、動作保証はありません。<br>
				公式の利用規約をご確認の上、ご利用ください。
			</p>

			<a class="download-link" href="https://github.com/itoudium/n-radio-downloader/releases/latest">ダウンロード</a>
			
			<img src="./image.png" width="1600" height="1200" alt="イメージ画像" class="top-image">
			
		</section>
		

		<section>
			<h2>機能</h2>

			<strong>チェック</strong>
			<ul>
				<li>ダウンロードしたい番組をフォロー</li>
				<li>フォローした番組の新着エピソードを自動ダウンロード</li>
				<li>新着エピソードが無いか自動チェック</li>
			</ul>
			<strong>ダウンロード</strong>
			<ul>
				<li>拡張子は AAC となります</li>
				<li>「設定」からダウンロード先のフォルダを設定できます</li>
				<li>ダウンロード状況を追跡</li>
			</ul>
			
			<strong>しくみ</strong>
			<ul>
				<li>「聞き逃し配信」ページから情報を取得</li>
				<li>聞き逃し配信で公開されている限り、過去に遡ってダウンロード</li>
				<li>プレイヤー機能はありません</li>
				<li>リアルタイム録音ではありません</li>
				<li>音声ストリーミングをダウンロードしてファイルに保存します</li>
			</ul>
		</section>

		<section>
			<h2>with Jellyfin</h2>
			<p>
				オープンソースのメディアサーバ <strong>Jellyfin</strong> と組み合わせると便利です。<br />
				Jellyfin を使えば、ダウンロードした音声ファイルを自動的に検出してメディアライブラリを管理できます。そして、ライブラリをいろいろなデバイスから再生できます。<br />
			</p>
			<a href="https://jellyfin.org/" target="_blank">
				<img src="./jellyfin.png" width="500" height="167" alt="jellyfin" class="jellyfin-logo" />
			</a>
		</section>

		<section>
			<h2>インストール</h2>
			<p>
				GitHubのダウンロードページにアクセスして、最新バージョンの Assets から、環境に合ったファイルをダウンロードしてください。
			</p>
			<a class="download-link" href="https://github.com/itoudium/n-radio-downloader/releases/latest">ダウンロード</a>
			<p>
				Zipファイルを展開して、好きな場所に配置して実行してください。<br>
				OSによってセキュリティ・プライバシーの警告が表示される場合があります
			</p>
			<p>
				対応環境: Windows x64, macOS arm64
			</p>
		</section>
		

		<footer>
			<p>
				ソースコード: <a href="https://github.com/itoudium/n-radio-downloader">GitHub</a>
			</p>
			<p>
				author: <a href="https://github.com/itoudium">itoudium</a>
			</p>
		</footer>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		text-align: center;
	}
	h1 {
		font-size: 3rem;
		margin: 0;
		font-family: 'Varela Round', sans-serif;
	}

	.sub {
		font-size: 1rem;
		margin: 0;
	}

	.icon {
		width: 64px;
		height: 64px;
		margin: 0 auto;
		border-radius: 10px;
	}

	h2 {
		font-size: 1.7rem;
		font-weight: 800;
		margin: 0;
		margin-top: 60px;
	}

	ul {
		max-width: 400px;
		margin: auto;
		text-align: left;
		padding: 20px;
	}

	.top-image {
		margin: 40px 10px;
		height: auto;
		max-width: calc(100% - 20px);
		border-radius: 10px;
	}

	.download-link {
		display: inline-block;
		margin: 20px 10px;
		padding: 10px 40px;
		background-color: #0078d7;
		color: white;
		text-decoration: none;
		height: auto;
		max-width: calc(100% - 20px);
		border-radius: 10px;
	}

	.jellyfin-logo {
		max-width: 120px;	
		height: auto;
	}

	footer {
		margin-top: 72px;
	}
	
</style>
