---
import Layout from '../layouts/Layout.astro';
---

<Layout title="nReceiver">
	<main>

		<section>
			<img src="./nReceiver.png" width="64" height="64" alt="アイコン" aria-hidden="true" class="icon">
			<h1>nReceiver</h1>
			<p class="sub">エヌ・レシーバ</p>
		</section>

		<section>

			<p>
				NHKラジオ（らじるらじる）の番組をファイルに保存するPC用アプリです。<br>
				好きな番組をフォローすると、番組を自動的にチェック、ダウンロード。<br>
				本アプリは非公式で、動作保証はありません。<br>
				公式の利用規約をご確認の上、ご利用ください。
			</p>

			<a class="download-link" href="https://github.com/itoudium/n-radio-downloader/releases/latest">ダウンロード</a>
			
			<img src="./image.png" width="1600" height="1200" alt="イメージ画像" class="top-image">
			
		</section>
		

		<section>
			<h2>機能</h2>
			<ul>
				<li>ダウンロードしたい番組をフォローできます</li>
				<li>聞き逃し配信ページの情報を自動的にチェックします</li>
				<li>聞き逃し配信ページに公開されている限り、過去に遡ってダウンロードします</li>
				<li>音声ストリーミングをダウンロードしてファイルに保存します</li>
				<li>拡張子は AAC となります</li>
				<li>ダウンロード先のフォルダを設定できます</li>
				<li>ダウンロード状況を追跡</li>
				<li>プレイヤー機能はありません</li>
				<li>リアルタイム録音ではありません</li>
			</ul>
		</section>

		<section>
			<h2>with Jellyfin</h2>
			<p>
				オープンソースのメディアサーバ <strong>Jellyfin</strong> と組み合わせると便利です。<br />
				Jellyfin を使えば、ダウンロードした音声ファイルを自動的に検出してメディアライブラリを管理できます。そして、ライブラリをいろいろなデバイスから再生できます。<br />
			</p>
			<a href="https://jellyfin.org/" target="_blank">
				<img src="./jellyfin.png" width="500" height="167" alt="jellyfin" class="jellyfin-logo" />
			</a>
		</section>

		<section>
			<h2>インストール</h2>
			<p>
				ダウンロードページにアクセスして、最新バージョンの Assets から、環境に合ったファイルをダウンロードしてください。
			</p>
			<a class="download-link" href="https://github.com/itoudium/n-radio-downloader/releases/latest">ダウンロード</a>
			<p>
				Zipファイルを展開して、好きな場所に配置して実行してください。<br>
				Macの場合、セキュリティ・プライバシーの警告が出ます。
			</p>
			<p>
				対応環境: Windows x64, macOS arm64
			</p>
		</section>
		

		<footer>
			<p>
				ソースコード: <a href="https://github.com/itoudium/n-radio-downloader">GitHub</a>
			</p>
			<p>
				author: <a href="https://github.com/itoudium">itoudium</a>
			</p>
		</footer>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		text-align: center;
	}
	h1 {
		font-size: 3rem;
		margin: 0;
		font-family: 'Varela Round', sans-serif;
	}

	.sub {
		font-size: 1rem;
		margin: 0;
	}

	.icon {
		width: 64px;
		height: 64px;
		margin: 0 auto;
		border-radius: 10px;
	}

	h2 {
		font-size: 1.7rem;
		font-weight: 800;
		margin: 0;
		margin-top: 60px;
	}

	ul {
		max-width: 400px;
		margin: 20px;
		text-align: left;
	}

	.top-image {
		margin: 40px 10px;
		height: auto;
		max-width: calc(100% - 20px);
		border-radius: 10px;
	}

	.download-link {
		display: inline-block;
		margin: 20px 10px;
		padding: 10px 40px;
		background-color: #0078d7;
		color: white;
		text-decoration: none;
		height: auto;
		max-width: calc(100% - 20px);
		border-radius: 10px;
	}

	.jellyfin-logo {
		max-width: 120px;	
		height: auto;
	}

	footer {
		margin-top: 72px;
	}
	
</style>
